.navigation {
  @include media-mobile {
    display: none;
  }
}
.navigation__list {
  font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 24px;
/* identical to box height, or 24px */
    display:flex;
    
    list-style-type: none;
    >*{
      &:last-child{
        margin-right: 0;
      }
    }
}

.navigation__item {
  margin: 0 18px;
  cursor: pointer;
  color: $color-light-l;
  border-bottom: solid 3px transparent;
  &:hover {
    color: $color-light-s;
  }
  &_selected {
    border-bottom: solid 3px blanchedalmond;
    border-color: $color-primary;
    color: $color-light-s;
    pointer-events: none;
  }
}
