.logo {
    display: flex;
    flex-direction: column;
    width: 186px; ;
    @include media-mobile {
        width: 186px; ;
        display: flex;
        flex-direction: column;
    }
}
.logo__title {

    color: $color-dark-l;
    margin-bottom: 10px;
    @include media-mobile {
        width: 186px; ;
        display: flex;
        justify-content: center;
        text-align: center;
    }

}

.logo__subtitle {
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;
display: flex;
justify-content: center;
letter-spacing: 0.1em;
color: $color-dark-3xl;
}
