.footer {
    background-image: url(../main/assets/img/footer/footer-gradient-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.footer__wrapper {
display: flex;
padding-top: 40px;
justify-content: space-between;
@include media-tablet {
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    margin-top: 0px;
}
@include media-mobile {
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    margin-top: 42px;
}
}

.footer__content{
display: flex;
padding-top: 20px;
@include media-tablet {
    width: 708px;
    justify-content: space-around;
    margin-left: 13px;
}
@include media-mobile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    width: 300px;
    margin-left: 0px;

}
}
.contacts{
display: flex;
flex-direction: column;
width: 278px;
margin-right: 161px;
@include media-tablet {
    margin-right: 0px;
}
@include media-mobile {
    align-items: center;
    margin-right: 0;
}
}
.contacts_place{
width: 314px;
@include media-mobile {
display: flex;
flex-direction: column;
align-items: center;
}
}
.contacts__title{
margin-bottom: 40px;
font-family: Georgia;
font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: 45px;
color:$color-light-xl; 
@include media-mobile {
    text-align: center;
    font-size: 25px;
line-height: 32px;
}
}
.contacts__link{
    margin-bottom: 20px;
  color: $color-primary;
  text-decoration: none;
  display: flex;
  align-items: center;
  letter-spacing: 1.2px;
  &:hover{
    color:$color-primary-light;
    
}
@include media-mobile {
    margin-bottom: 18px;
}
}
.contacts__link2{


}
.contacts__link-ico-mail{
background-image: url(../main/assets/img/footer/icon-email.png);
display: inline-block;
background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 32px;
    margin-right: 20px;

}
.contacts__link-mail{
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;


}
.contacts__link-ico-phone{
    background-image: url(../main/assets/img/footer/icon-phone.png);
    display: inline-block;
    background-position: center;
        background-repeat: no-repeat;
        padding: 25px 0;
        width: 40px;
        height: 26px;
        margin-right: 20px;
}
.contacts__link-phone{
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
}
.place__link {
    margin-bottom: 35px;
  color: $color-primary;
  text-decoration: none;
  display: flex;
  align-items: center;
  letter-spacing: 1.2px;
  &:hover{
    color:$color-primary-light;
}
@include media-tablet {
    margin-left: 0px;
    margin-bottom: 30px;
}
@include media-mobile {
    margin-left: 7px;
    margin-bottom: 40px;
}
}
.place__title{
    margin-bottom: 35px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 45px;
    color:$color-light-xl; 
    @include media-mobile {
        text-align: center;
        font-size: 25px;
line-height: 32px;
width: 270px;
margin-bottom: 40px;
    }
    }
.place__link-ico-place{
    background-image: url(../main/assets/img/footer/pin.png);
    display: inline-block;
    background-position: center;
        background-repeat: no-repeat;
        padding: 0px 0;
        width: 42px;
        height: 35px;
        margin-right: 20px;
        
}
.place__link-place{
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
}
.place__link2 {
    margin-bottom: 20px;
  color: $color-primary;
  text-decoration: none;
  display: flex;
  align-items: center;
  letter-spacing: 1.2px;
  &:hover{
    color:$color-primary-light;
}
@include media-mobile {
width: 300px;
margin-bottom: 35px;
}
}
.place__link-ico-place2{
    background-image: url(../main/assets/img/footer/pin.png);
    display: inline-block;
        background-repeat: no-repeat;
        padding: 0px 0;
        width: 40px;
        height: 35px;
        margin-right: 0px;
        
}
.place__link-place2{
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
}
.footer__img{
width: 300px;
height: 310px;
margin-bottom: 10px;
@include media-tablet {
    margin-bottom: 0px;
    margin-top: 21px;
}
@include media-mobile {
    width: 260px;
    height: 269px;
    margin-bottom: 0px;
    margin-top: 0px;
}
}